/*===============================
========== Accordions & Toggle ==========
===============================*/

.accordion .panel {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow:none; border:none; background:none;}
.accordion.panel-group{ margin:20px 0;}
.accordion .panel .panel-heading {border:1px solid #ececec; padding:0; background:none;}
.accordion .panel-title { font-weight:500; font-size:inherit;}
.accordion .panel-title a{display:block; padding:15px;}
.accordion .panel-title a .fa{margin-right:100px;}
.accordion .panel-body {border:none !important;}
.accordion .accordion-toggle.collapsed-icon:after{    content: "\f147"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; float:right;}
.accordion .accordion-toggle.collapsed.collapsed-icon:after{    content: "\f196"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;	float:right;}
.accordion .accordion-toggle.collapsed-icon-left.collapsed-icon:after{float:left; margin-right:10px;}
.accordion .accordion-toggle.collapsed-icon-left.collapsed.collapsed-icon:after{float:left; margin-right:10px;}

/* Accordion & Toggle - default stytle  */
.accordion .accordion-toggle {}
.accordion .accordion-toggle.collapsed{ color:#848494;}
.accordion .accordion-toggle.collapsed:hover{}









.accordion .panel .panel-collapse .panel-body .job-header {
	font-size: 20px;
	vertical-align: middle;
	display: block;
	margin-top: 10px;
}
.accordion .panel .panel-collapse .panel-body .job-info {
	font-size: 16px;
	vertical-align: middle;
	display: block;
	margin-top: 15px;
}
.accordion .panel .panel-collapse .panel-body .job-city {
	font-size: 16px;
	vertical-align: middle;
	display: block;
	margin-top: 15px;
}
.accordion .panel .panel-collapse .panel-body .job-button button{
	width: 100%;
}

#career-feature .row .career-icon {

}
#career-feature .row .career-info {

}
#career-feature .row .career-pic {

}